* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #571F9C;
    top: 0;
    margin: auto;

    .navbar-1 {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .first {
            padding-left: 40px;
        }

        a {
            color: white;
            text-decoration: none;
            margin-left: 8px;

            &:hover {
                color: lightgray;
            }
        }

        .icons {
            margin-right: 70px;

            a {
                font-size: 15px;
                padding-right: 10px;
                border-right: 1px solid white;
                padding-left: 8px;
            }
        }
    }

    .navbar-2 {
        height: 70px;
        width: 100%;
        background-color: #FFFFFF;
        justify-content: space-between;
        display: flex;
        align-items: center;

        .logo {
            margin-left: 12px;
            margin-top: 10px;
        }

        .menu-bar {
            margin-right: 30px;
        }

        img {
            height: 70px;
            width: 230px;
        }

        a {
            text-decoration: none;
            color: black;
            padding-right: 17px;
            font-size: 20px;

            &:Hover {
                color: #571F9C;
            }
        }
    }
}


/* main */

.section-1 {
    width: 100%;
    background-image: url(./images/agency-slider01.jpg);
    height: 600px;


    .text-div {
        margin-top: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30%;
        color: #FFFFFF;
        line-height: 1.8;

        h1 {
            line-height: 1.8;
        }
    }

    .button-div {
        .services {
            padding: 13px;
            background-color: #571F9C;
            color: white;
            border: 2px solid #ffffff;
            gap: 14px;

            &:hover {
                color: #000000;
                background-color: white;
            }
        }

        .qoute {
            padding: 13px;
            color: white;
            background-color: #571F9C;
            border: 2px solid #ffffff;

            &:hover {
                color: black;
                background-color: white;
            }
        }
    }

    img {
        height: 600px;
        width: 100%;
    }

}

.section-2 {
    background-color: #EDF5F8;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    p {
        margin-top: 10px;
    }

    .works {
        .world {
            width: 175px;
            line-height: 1.5;

            img {
                height: 90px;
                width: 100px;
                padding-bottom: 10px;
            }
        }
    }

    .Clints {
        line-height: 2;

        .data-div {
            width: 250px;
            margin-left: 20px;


            button {
                padding: 16px;
                margin-top: 15px;
                background-color: #571F9C;
                border: none;
                color: #FFFFFF;
                width: 140px;
            }
        }
    }
}

.section-3 {

    margin-top: 20px;

    .div-1 {
        text-align: center;
        line-height: 1.4;

        .device {
            border-bottom: 1px solid #dedede;
            padding-bottom: 10px;
            text-align: center;
            border-left-width: 1px;
        }

        h1 {
            font-size: 50px;
            width: 590px;
            padding-left: 350px;
        }

        p {
            padding-left: 300px;
            padding-right: 300px;
            color: rgb(128, 128, 128);
            margin-bottom: 30px;
        }


    }



}

.section-4 {
    .best {
        h1 {
            font-size: 50px;
            width: 590px;
            padding-left: 500px;
            margin-top: 10px;
        }

        h4 {
            text-align: center;
        }
    }

    .display {
        display: flex;
        flex-wrap: wrap;
        padding-left: 50px;
        margin-top: 50px;

        .Process {
            width: 380px;
            height: 290px;
            text-align: center;
            padding: 15px;
            border-right: 1px solid #dedede;
            border-bottom: 1px solid #dedede;

            &:hover {
                background-color: #EDF5F8;
            }

            img {
                height: 90px;
                width: 95px;
            }

            h3 {
                font-weight: 100;
            }



            .bolding {
                font-weight: 900;
            }

            p {
                color: rgba(128, 128, 128, 1.5);
                line-height: 1.6;
                padding-top: 12px;
                width: 300px;
                padding-left: 28px;
            }
        }


    }
}

.section-5 {
    margin: auto;

    .relation {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 50px;

        .content {
            width: 50%;
            margin-left: 5%;
        }

        img {
            border: 12px solid purple;
            height: 380px;
            width: 90%;
        }

        h4 {
            color: rgb(128, 128, 128);
            opacity: 1.5;
            padding: 15px;
        }

        p {
            width: 378px;
            font-weight: 500;
            padding: 15px;
            line-height: 1.8;
            font-weight: 500;
        }

        H1 {
            width: 263px;
            padding: 15px;
            line-height: 1.4;
        }

        button {
            padding: 10px;
            border: 1px solid #fff;
            background-color: #571F9C;
            color: #ffffff;
            width: 120px;

            &:hover {
                border: 1px solid #571F9C;
            }
        }
    }
}

.section-6 {
    background-color: #EDF5F8;
    height: 700px;

    .team {
        h1 {
            font-size: 40px;
            text-align: center;
            margin-top: 10px;
        }

        h4 {
            text-align: center;
            padding-top: 12px;
        }

        .three-main {
            display: flex;
            justify-content: space-evenly;
            margin-top: 40px;

            .perfect {
                height: 400px;
                width: 300px;
                background-color: #FFFFFF;
                border-radius: 5px;
                text-align: center;

                img {
                    border-radius: 50%;
                    margin-top: 30px;


                    &:hover {
                        border: 5px solid #4E1693;
                    }
                }

                h2 {
                    padding-top: 20px;
                    font-size: 28px;
                    font-weight: bolder;
                }

                h4 {
                    line-height: 1.3;
                    padding-top: 15px;
                    color: rgba(128, 128, 128, 1);
                    letter-spacing: 1.4px;
                    position: relative;
                }

                h4:before {
                    background: linear-gradient(135deg, #71b7e6, #9b59b6);
                    position: absolute;
                    height: 3px;
                    width: 30px;
                    top: 0;
                    bottom: 0;
                }

                p {
                    padding-top: 40px;
                    line-height: 1.3;
                    letter-spacing: 1.4px;
                    padding: 12px;
                }
            }
        }
    }
}

.section-7 {

margin-top: 35px;
    .row {
    margin-top: 35px;
    margin: auto;
    padding-right: 40px;

        .column {
            float: left;
            margin: auto;
           

            h2 {
                padding-top: 20px;
                padding-bottom: 15px;
                font-weight: 900;
                padding: 20px;
                margin-left: 220px;
                letter-spacing: 1.5px;
            }

            img{
                padding-left: 240px;
            }
        }
    }

}

.section-8{
    background-color: #FFFFFF;
    margin-top: 230px;

    .gallery{
       

        h4{
            padding-bottom: 20px;
            letter-spacing: 1.7px;
             text-align: center;
        }

        h1{
            font-size: 50px;
             text-align: center;
        }

        img{
            height: 270px;
            width: 333px;
        }
    }
}